body{
    padding:1%;
}
ul, ol {
    padding-left: 0px;
}

.hidden {
    display: none;
}

#dashboard-form{
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0;
    border: solid 1px #d4d4d5;
    border-bottom: none;
    box-sizing: border-box;
}

#dashboard-form-ul{
    list-style: none;
    -webkit-padding-start: 0px;
    margin: 0;
}

.dashboard-form-li{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    border-bottom: solid 1px #d4d4d5;
}

.dashboard-form-label{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #000;
    box-sizing: border-box;
    color: #303336;
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    width: 127px;
    height: 44px;
    padding: 10px;
    background-color: #f0f3f6;
}

#chart-area{
    border: 1px solid #d4d4d5;
    border-top:0px;
    margin: 0;

}

#overview-area{
    margin: 0 10px 0 0;
    width:85%;
    display:inline-block;
}



#chart-control{
    display: inline-block;
    margin-right: 10px;
    width: 10%;
    height: auto;
    border-right: 1px solid #d4d4d5;
}