body{
    padding:0 1%;
}
ul, ol {
    padding-left: 0px;
}

.hidden {
    display: none;
}

#dashboard-settings{
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0;
    border: solid 1px #d4d4d5;
    border-bottom: none;
    box-sizing: border-box;
}

#dashboard-settings-ul{
    list-style: none;
    -webkit-padding-start: 0px;
    margin: 0;
}

.dashboard-settings-li{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    border-bottom: solid 1px #d4d4d5;
}

.dashboard-settings-label{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #000;
    box-sizing: border-box;
    color: #303336;
    display: inline-block;
    margin: 0 0 1px 0;
    padding: 0 20px;
    text-align: center;
    width: 169px;
    height: 44px;
    padding: 10px;
    background-color: #f5f5f5;
}

.time-form-item{
    margin-right:15px;
}

#chart-area{
    border: 1px solid #d4d4d5;
    border-top:0px;
    margin: 0;
    overflow: scroll;
}

#display-chart-area{
    margin: 0;
    width: 86%;
    display:inline-block;
    min-height: 400px;
}



#chart-control{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    display: inline-block;
    width: 148px;
    height:100%;
    border-right: 1px solid #d4d4d5;
    padding:10px;
}


#chart-types button{
    min-width:105px;
    margin: 5px;
}

#display-chart-section{
    padding: 12px;
}

.dimension-section-wrapper{
    border-bottom: 5px solid #ddd;
    margin-bottom:15px;
}

/* Contributors section*/


.contributors-table .contributors-table{
    width: 100%;
    overflow-x: scroll;
}

.contributors-table .contributors-table.fixed-table-layout{
    table-layout: fixed;
}

.contributors-table td,
.contributors-table th{
    line-height: 8px;
    font-size: 10px;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #898989;
    vertical-align: middle;
    text-align: center;
}

.contributors-table .row-title{
    border: 1px solid #ddd;
}

.contributors-table .select_all_cell{
    border: 1px solid #ddd;
    width:25px;
}

.contributors-table .contributors-table-date{
    font-weight: 600;
    width: 150px;
}

.contributors-table table tr td:first-child {
    word-wrap: break-word;
}

.contributors-table td:hover{
    color: #898989;
}

.contributors-table .divider-cell{
    border-left: 1px solid #ddd;
    border-top:none;
    border-right: 1px solid #ddd;

}

.contributors-table .divider-row td{
    line-height: 8px;
    height: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    text-align: left;
}

.contributors-table .data-row{
    border-top: 1px solid #ddd;
}

.contributors-table .contributors-table-time{
    font-weight: 600;
}

.contributors-table .checkbox-cell{
    width:15px;
}
.contributors-table .dimension-value-cell{
    width:100px;
    word-wrap: break-word;
}

.contributors-table .heat-map-cell{
    border-right: 1px solid #ddd;
}


.contributors-table .dimension-value-cell{
    border: 1px solid #ddd;
    width: 100px;
}

.contributors-table .contributors-table-date,
.contributors-table .contributors-table-time{
    border: 1px solid #ddd;
}

.contributors-table .checkbox-cell{
    width:15px;
    border: 1px solid #ddd;
    padding: 0px;
}



/*Override ui-kit css*/
#time-input-form .uk-form-select{
    background-color: #fff;
}

#config-form-time-picker-box .uk-dropdown{
    top:-210px;
}

